/* these should be unnecessary now

table tr td {
    border: 5px solid black;
}

.active {
    background-color: darkblue;
}

.inactive {
    background-color: darkmagenta;
}

td {
    vertical-align: middle;
    height: 200px;
    width: 200px;
    padding: 10px;
    background-color: coral;
}

td div {
    background-color: darkblue;
}
*/


body    {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

table tr td {
    border: 5px solid black;
}

table {
    margin-left: auto;
    margin-right: auto;
}

#user_input    {
    display: flex;
    justify-content: space-around;
}

#user_score    {
    font-size: 50px;
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

h1    {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}


h4    {
    font-size: 20px;
}

.button {
    width: 200px;
    height: 200px;
    margin: 10px;
    float: left;

}

#start    {
    width: 100px;
    height: 50px;
    margin: 10px;
    border-radius: 12px;
}

#start    {
    background: yellow;
}


.green    {
    background: green;
    
}

.red    {
    background: red;
 
}

.yellow    {
    background: yellow;

}

.blue    {
    background: blue;

}

.grey    {
    background: grey;

}

.magenta    {
    background:magenta;

}

.salmon    {
    background: salmon;

}

.orange    {
    background: orange;

}

.aqua    {
    background: aqua;

}

.blue    {
    background: blue;

}

.lightup    {
    /*border: solid white 15px;*/
    opacity: .5;
}

table tr td{
	/*start ------------*/
	width: [object Object]px; 
	height: [object Object]px; 
	background: #F8F8F8; 
	border: solid #0A000A 3px; 
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
	-webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
	-moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
}

.bouncy{
    animation: bouncy 5s infinite linear;
    position: relative;
}

@keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top: -2em}
    46%{top:0em}
    48%{top: -0.4em}
    50%{top:0em}
    100%{top:0em;}
}


@media screen and (max-width: 600px) {
    .button {
        width: 100px;
        height: 100px;
        margin: 5px;
        
    
    }
}

